@charset "UTF-8";
/* CSS Document */

body {
    background: #fff;
    padding: 0;
    margin: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

h3 {
    font-size: 96px;
    color: #3498db;
    font-weight: bold;
    text-align: center;
    line-height: 130%;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 70px 10px 10px 10px;
    }
    h3 {
        font-size: 96px;
    }
}

/* Style form elements */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  display: block;
  width: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.css-input {
  border-style: solid;
  font-size: 17px;
  padding: 7px;
  border-width: 2px;
  border-radius: 5px;
  color: #0a0a0a;
  background-color: #ffffff;
  border-color: #dbdbdb;
  width: 75%;
  min-width: 500px;
}

.css-input:focus {
  outline-color: #1e1e1e;
}
